<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/admin/header.ejs') %>

  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .container-fluid {
      height: 100%;
    }

    .row {
      height: 100%;
    }

    .position-fixed {
      height: 100vh;
    }

    .main-content {
      margin-left: 250px;
      /* Điều chỉnh theo chiều rộng của sidebar */
      padding: 20px;
    }
  </style>
</head>

<body>
  <%- include('../common/admin/siderbaadmin.ejs') %>

    <div class="main-content ml-2 col-10">
      <div class="row text-center">
        <h1> BLOG </h1>
      </div>
      <div class="row mb-2">
        <div class="col-1">
            <a href="/admin/blog/create" class="btn btn-primary"> Create</a>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-8 border border-dark rounded p-3 ">
          <div class="row">
            <aside>
              <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                  <thead class="thead-dark" style="position: sticky; top: 0; background-color: white; z-index: 1;">
                  <tr>
                  <th>STT</th>
                  <th>Name</th>
                  <th>Link</th>
                  <th>Logo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < data.length; i++){%>
                  <tr>
                    <td>
                      <%= i %>
                    </td>
                    <td>
                      <%= data[i].name %>
                    </td>
                    <td><a class="nav-link text-primary" href="<%= data[i].link %>">Link</a></td>
                    <td class="col-3">
                      <div class="col-sm-offset-1 col-sm-4">
                        <div class="single-about-img">
                          <img src="<%= data[i].img %>" class="card-img-top img-fluid" alt="profile_image">
                        </div>
                      </div>
                    </td>
                    <td class="d-flex"><a class="nav-link text-dark" href="/admin/blog/edit/<%= data[i].id %>"> Edit
                        /<a class="nav-link text-dark" href="/admin/blog/delete/<%= data[i].id %>"> Xóa</a></a></td>
                  </tr>
                  <%}%>
              </tbody>
            </table>
          </div>
        </aside>
        </div>
      </div>
    </div>
    </div>
</body>

</html>