<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/admin/header.ejs') %>

  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .container-fluid {
      height: 100%;
    }

    .row {
      height: 100%;
    }

    .position-fixed {
      height: 100vh;
    }

    .main-content {
      margin-left: 250px;
      /* Điều chỉnh theo chiều rộng của sidebar */
      padding: 20px;
    }
  </style>
</head>

<body>
  <%- include('../common/admin/siderbaadmin.ejs') %>

    <div class="main-content ml-2 col-10">
      <div class="row text-center">
        <h1> Maketing Blog </h1>
      </div>
      <div class="row mb-2">
        <div class="col-1">
            <a href="/admin/marketing-blog/create" class="btn btn-primary"> Create</a>
        </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-12 border border-dark rounded p-3 ">
          <div class="row">
            <aside>
              <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                <table class="table">
                  <thead class="thead-dark" style="position: sticky; top: 0; background-color: white; z-index: 1;">
                  <tr>
                  <th>STT</th>
                  <th>Name</th>
                  <th>Img</th>
                  <th>Action</th>
                  <th>Active</th>
                  <th>Confirm</th>
                </tr>
              </thead>
              <tbody>
                <% for( var i=0; i< data.length ; i++){%>
                  <tr>
                    <td class="col-1">
                      <%= i %>
                    </td>
                    <td>
                      <%= data[i].name %>
                    </td>
                    <td class="col-2">
                      <div class="col-sm-offset-1 col-sm-4">
                        <div class="single-about-img">
                          <img src="<%= data[i].img %>" class="card-img-top img-fluid" alt="profile_image">
                        </div>
                      </div>
                    </td>
                    <td class="d-flex"><a class="nav-link text-dark" href="/admin/marketing-blog/edit/<%= data[i].id %>"> Chi
                      tiết /<a class="nav-link text-dark" href="/admin/marketing-blog/delete/<%= data[i].id %>">
                        Xóa</a></a></td>
                    
                        <form action="/admin/marketing-blog/updateactive/<%= data[i].id %>" method="post">
                          <td class="col-2">
                          <select class="form-select" aria-label="Default select example" "
                          name="active">
                          <% for (var j=0 ; j < active.length; j++) {%>
                              <% if(active[j].id == data[i].active.id){%>
                              <option selected value="<%=active[j].id %>">
                                <%= active[j].name %>
                              </option>
                              <%}else{%>
                                <option  value="<%=active[j].id %>">
                                  <%= active[j].name %>
                                </option>
                                <%}%>
                              <%}%>
                        </select>
                      </td>
                       <td>
                        <button class="nav-link text-dark" type="submit"> Xác nhận</button>    
                       </td>                   
                        </form>                 
                      </tr>
                  <%}%>
              </tbody>
            </table>
          </div>
        </aside>
          </div>
        </div>
      </div>
    </div>
</body>

</html>