<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../common/admin/header.ejs') %>

  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .container-fluid {
      height: 100%;
    }

    .row {
      height: 100%;
    }

    .position-fixed {
      height: 100vh;
    }

    .main-content {
      margin-left: 250px;
      /* Điều chỉnh theo chiều rộng của sidebar */
      padding: 20px;
    }
  </style>
</head>

<body>
  <%- include('../common/admin/siderbaadmin.ejs') %>

    <div class="main-content ml-2 col-10">
      <div class="row text-center">
        <h1> SOICIAL </h1>
      </div>
      <div class="row justify-content-center">
        <div class="col-5 border border-dark rounded p-3 ">
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Soicial name</th>
                  <th>Link</th>
                  <th>Logo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < data.length; i++){%>
                  <tr>
                    <td>
                      <%= i %>
                    </td>
                    <td>
                      <%= data[i].name %>
                    </td>
                    <td class="col-3">
                      <div class="col-sm-offset-1 col-sm-4">
                        <div class="single-about-img">
                          <img src="<%= data[i].img %>" class="card-img-top img-fluid" alt="profile_image">
                        </div>
                      </div>
                    </td>
                    <td>
                      <a class="nav-link text-primary" href="<%= data[i].link %>">Link</a>
                    </td>
                    <td class="d-flex"><a class="nav-link text-dark" href="/admin/soicial/edit/<%= data[i].id %>"> Edit
                        /<a class="nav-link text-dark" href="/admin/soicial/delete/<%= data[i].id %>"> Xóa</a></a></td>
                  </tr>
                  <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row mt-5 justify-content-center">
        <div class="col-5">
          <h2>Create soicial</h2>
          <form action="/admin/soicial/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="email">Soicial name</label>
              <input type="text" class="form-control" id="email" name="name">
            </div>
            <div class="form-group">
              <label for="email">Link</label>
              <input type="text" class="form-control" id="email" name="link">
            </div>
            <div class="form-group">
              <lable>Logo</lable>
              <div class="col-sm-offset-1 col-sm-5">
                <div class="single-about-img">
                </div>
              </div>
              <input type="file" name="img">
            </div>
            <button type="submit" class="mt-2 btn btn-default btn-dark">CREATE</button>
          </form>
        </div>
      </div>
    </div>
</body>

</html>