<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/admin/header.ejs') %>

    <style>
      body, html {
          height: 100%;
          margin: 0;
      }
      .container-fluid {
          height: 100%;
      }
      .row {
          height: 100%;
      }
      .position-fixed {
          height: 100vh;
      }
      .main-content {
          margin-left: 250px; /* Điều chỉnh theo chiều rộng của sidebar */
          padding: 20px;
      }
  </style>
</head>
<body>
  <%- include('../common/admin/siderbaadmin.ejs') %>

     <!--main-content-->
 </div>
  <div class="main-content ml-2 col-10" >
    <div class="row text-center">
      <h1>marketing sale </h1> 
    </div>
    <form action="/admin/marketing-sale/create" method="post" enctype="multipart/form-data" >
     <div class="row justify-content-center">
         <div class="col-8 border border-dark rounded p-3 ">
            <div class="row mb-5 overflow-hidden ">
              <div class="form-group">
                 <label>Name</label>
                 <input type="text" class="form-control" id="email"  name="name">
              </div>
              <div class="form-group">
                <label>Describe</label>
                <input type="text" class="form-control" id="email"  name="namesale">
             </div>
             <div class="form-group">
              <label>link</label>
              <input type="text" class="form-control" id="email"  name="link">
             </div>
              <div class="form-group">
                <lable>Img</lable>
                <div class="col-sm-offset-1 col-sm-5">
                </div>
                <input type="file" name="img" >
              </div>   
              <div class="form-group">
                <label for="email">Active</label>
                <select class="form-select" aria-label="Default select example" 
                  name="active">
                  <% for (var i=0 ; i < active.length; i++) {%>
                      <option  value="<%=active[i].id %>">
                        <%= active[i].name %>
                      </option>
                          <% }%>
                </select>
              </div>    
              <div class="form-group">
                <label for="email">Discount</label>
                <select class="form-select" aria-label="Default select example" 
                  name="discount">
                  <% for (var i=0 ; i < discount.length; i++) {%>
                      <option  value="<%= discount[i].id %>">
                        <%= discount[i].name %>
                      </option>
                          <% }%>
                </select>
              </div>    
               <button type="submit" class="btn btn-default btn-dark mt-2 mb-2 " >UPDATE</button>
               <button type="button" class="btn btn-dark btn-default " ><a href="/admin/marketing-sale" class="nav-link text-white" >RETURN</a></button> 
            </div>
        </div> 
    </div>
</form>
  </div>
      


</body>
</html>