<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/admin/header.ejs') %>

    <style>
      body, html {
          height: 100%;
          margin: 0;
      }
      .container-fluid {
          height: 100%;
      }
      .row {
          height: 100%;
      }
      .position-fixed {
          height: 100vh;
      }
      .main-content {
          margin-left: 250px; /* Điều chỉnh theo chiều rộng của sidebar */
          padding: 20px;
      }
  </style>
</head>
<body>
  <%- include('../common/admin/siderbaadmin.ejs') %>

     <!--main-content-->
 </div>
  <div class="main-content ml-2 col-10" >
    <div class="row text-center">
      <h1>EDIT SOICIAL </h1> 
    </div>
    <form action="/admin/soicial/edit/<%=data.id %>" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center">
        <div class="col-5 border border-dark rounded p-3 ">
           <div class="row mb-5 overflow-hidden ">
              <div class="form-group">
                 <label>Name soicial</label>
                 <input type="text" class="form-control" id="email" value="<%= data.name %>" name="name">
              </div>
              <div class="form-group">
                 <label>Link</label>
                 <input type="text" class="form-control" id="email" value="<%= data.link %>" name="link">
              </div>  
              <div class="form-group">
                <lable>Logo</lable>
                <div class="col-sm-offset-1 col-sm-5">
                  <div class="single-about-img">
                    <img src="<%= data.img %>"class="card-img-top img-fluid" alt="profile_image">
                </div>  
                </div>
                <input type="file" name="img" >
              </div>       
               <button type="submit" class="btn btn-default btn-dark mt-2 mb-2 " >UPDATE</button>
               <button type="button" class="btn btn-dark btn-default " ><a href="/admin/soicial" class="nav-link text-white" >RETURN</a></button>
            </div>
       </div> 
    </div>
</form>
  </div>
      


</body>
</html>